@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-50: #fafafa;
}

body {
  @apply antialiased;
}

input::placeholder {
  @apply text-black font-semibold opacity-100;
}
